@font-face {
    font-family: Custom;
    src: url(../fonts/nice.ttf);
}

body {
    background-image: url("../assets/background.jpg");
    color: white;
    font-family: Custom, serif;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}